name: test-main
on:
  push:
    branches:
      - main
    paths:
      - "gradle/**"
      - "**.kts"
      - gradle.properties
      - gradlew
      - gradlew.bat
      - "**.kt"
      - "**.java"
      - .github/workflows/test-main.yml
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - "gradle/**"
      - "**.kts"
      - gradle.properties
      - gradlew
      - gradlew.bat
      - "**.kt"
      - "**.java"
      - .github/workflows/test-main.yml
jobs:
  test-main:
    strategy:
      fail-fast: false
      matrix:
        # LTS versions, latest version (if exists)
        java-version: [ '8', '11', '17', '19' ]
        # Minimum version, latest release version, latest pre-release version (if exists)
        kotlin-version: [ '1.7.21', '1.8.22', '1.9.10', '1.9.20-Beta' ]
    env:
      KOTLIN_VERSION: ${{ matrix.kotlin-version }}
    name: test-main
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: 'Set up java ${{ matrix.java-version }}'
        uses: actions/setup-java@v3
        with:
          java-version: '${{ matrix.java-version }}'
          distribution: 'adopt'
      - name: Test
        uses: gradle/gradle-build-action@v2
        with:
          arguments: test
